<section class="login">
    <div class="h-screen flex items-center justify-center bg-gray-50  py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
          <form class="mt-8 space-y-6 border p-12 shadow-xl rounded bg-white" action="#" method="POST">
            <input type="hidden" name="remember" value="true">
            <div class="rounded-md shadow-sm -space-y-px">
              <div class="pb-6">
                <label for="name" class="not-sr-only">Name</label>
                <input id="name" name="name" type="text" autocomplete="name" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm shadow-md mt-4" placeholder="Email address">
              </div>
              <div class="pb-6">
                <label for="email-address" class="not-sr-only">Email address</label>
                <input id="email-address" name="email" type="email" autocomplete="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm shadow-md mt-4" placeholder="Email address">
              </div>
              <div>
                <label for="password" class="not-sr-only">Password</label>
                <input id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm shadow-md mt-4" placeholder="Password">
              </div>
            </div>
      
            <div class="flex items-center justify-end">
              <div class="text-sm">
                <a href="login" class="font-medium forgot-psw-text">
                  Already have an account?
                </a>
              </div>
            </div>
      
            <div>
              <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 login-btn">
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
</section>