
<section class="main py-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="w-1/2">
            <h5 class="text-lg"><em>Welcome back</em></h5>
            <h1 class="text-4xl font-bold">We are ready to serve you!!</h1>
        </div>
        <div class="w-1/2">
            <img src="/img/RESTO-logos_transparent.png" class="main-img" alt="">
        </div>
    </div>
</section>

