<section class="cart mt-8 container mx-auto w-1/2">
    <div>
        <div class="flex items-center border-b border-gray-300 pb-4">
        <img src="/img/cart.png" class="w-1/12" alt="">
        <h1 class="ml-4 font-bold text-2xl">Order summary</h1>
        </div>
    </div>
    <div class="order-list mt-6 border-b border-gray-300 pb-4">
        <div class="flex items-center">
         <img src="/img/cart.png" class="w-24" alt="">
         <div class="ml-4 flex-1">
            <h1>Cholle</h1> 
            <span>half</span>
         </div>
         <span class="flex-1">1 plate</span>
         <span class="font-bold text-lg">300</span>
        </div>
       
    </div>
    <div class="flex flex-row-reverse">
        <div class="flex items-center">
            <h4>Total Amount : </h4>
            <span class="font-bold text-2xl total_amt pl-2">300</span>
        </div>
    </div>
    <div class="flex flex-row-reverse pt-6">
        <form action="">
            <input type="text" placeholder="Table Number" class="border border-gray-400">
             <div class="flex flex-row-reverse pt-6">
                <button type="submit" class="btn-primary rounded-full px-6 py-2 text-white font-bold order-btn">Order</button>
            </div> 
            </form>
    </div>
    <div class="flex flex-row-reverse">
        <a href="" class="cursor-pointer btn-primary px-6 py-2 rounded-full text-white font-bold mt-6 order-btn">Login to continue</a>
    </div>
</section>
<!-- <section class="cart-empty mt-8 empty-cart-bg">
<div class="container mx-auto text-center flex-col items-center">
    <h1 class="text-3xl font-bold">Cart Empty &#128524</h1>
    <p class="py-2 text-gray-500"><i>What are you waiting for ??<br>
        Check out the menu and order soon 
        ,our chef is ready to cook you order!!
    </i></p>
    <div class="empty-cart py-3 mx-auto">
        <img src="/img/empty-cart.jpg" alt="">
    </div>
    <a href="" class="btn-primary rounded-full px-6 py-2 text-white font-bold go-back-btn">Go Back</a>
</div>
</section> -->